{{ form_start(form, {'attr': {'class': 'w-100 d-flex flex-column justify-content-center align-items-center py-4'}}) }}
    <div class="w-50 mb-4 d-flex flex-column justify-content-center align-items-center">
        {{ form_errors(form.shop_name) }}
        {{ form_widget(form.shop_name) }}
        {{ form_errors(form.shop_description) }}
        {{ form_widget(form.shop_description) }}
        {{ form_errors(form.shop_icon) }}
        {{ form_widget(form.shop_icon) }}
    </div>
    <div class="d-flex flex-row my-2">
        <div class="d-flex flex-column align-items-center">
            <img src="{{ asset('build/images/layout1.png') }}" alt="" width="25%">
            <p>Mise en page 1</p>
        </div>
        <div class="d-flex flex-column align-items-center">
            <img src="{{ asset('build/images/layout2.png') }}" alt="" width="25%">
            <p>Mise en page 2</p>
        </div>
    </div>
    <button class="form-button">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
