{% extends 'base.html.twig' %}

{% block title %}Shop index{% endblock %}

{% block body %}
    <div class="list-shop">
        <div class="header">
            <h2 class="header-title">Les boutiques</h2>
        </div>

        <div class="list-items">
            {% for shop in shops %}
            <div class="single-item mb-5">
                <a class="w-100 d-flex flex-row" href="{{ path('app_shop_show', {'id': shop.id}) }}">
                    <div class="shop-icon w-25">
                        <img src="{{ asset(shop.shopIconPath) }}" alt="" width="60%">
                    </div>
                    <div class="w-50 d-flex flex-column justify-content-between details">
                        <h2 class="mb-4">{{ shop.shopName }}</h2>
                        <p class="mb-5 pb-3">{{ shop.shopDescription }}</p>
                        <p class="mb-0 owner">{{ shop.shopOwner.pseudo }} • {{ shop.shopCreatedAt ? shop.shopCreatedAt|date('Y-m-d H:i:s') : '' }}</p>
                    </div>
                </a>
            </div>
            {% else %}
                <p>Aucune boutique</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
