{% extends 'base.html.twig' %}

{% block title %}Shop{% endblock %}

{% block body %}

    <div class="shop-show2">
        <div class="shop2">
            <div class="left-side">
                <div class="list-products d-flex justify-content-center">
                    {% for product in products %}
                        <div class="single-product">
                            <img src="{{ asset(product.imagePath) }}" class="image-product" alt="">
                            <p class="name-product">{{ product.productTitle }}</p>
                            <p class="price-product">{{ product.productPrice }}$</p>
                            <a href="{{ path('app_product_show', {'id': product.id}) }}"><button class="read-more-button">Voir plus</button></a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="right-side">
                <div class="single-item">
                    <a class="w-100 d-flex flex-row">
                        <div class="shop-icon w-25">
                            <img src="{{ asset(shop.shopIconPath) }}" alt="" width="80%">
                        </div>
                        <div class="w-50 d-flex flex-column justify-content-between ms-5 my-4 details">
                            <h2 class="mb-4">{{ shop.shopName }}</h2>
                            <p class="mb-5 pb-3">{{ shop.shopDescription }}</p>
                            <p class="mb-0 owner">{{ shop.shopOwner.pseudo }} • {{ shop.shopCreatedAt ? shop.shopCreatedAt|date('Y-m-d H:i:s') : '' }}</p>
                        </div>
                    </a>
                </div>
            </div>

        </div>
    </div>

{% endblock %}
